body{
    background-color: #c2c3c2;
}

.site-display_cars{
    width: 60%;
    margin: 0 auto;
}

.filtering{
    width: 24%;
    height: 80vh;
    background-color: #1b6d85;
    display: inline-block;
    float: left;
    margin-top: 60px;
}

.cars{
    width: 74.56631%;
    height: 80vh;
    /*background-color: #0a73bb;*/
    display: inline-block;
    margin: 60px 0 0 1%;
    float: left;
}

.car{
    width: 100%;
    height: 300px;
    background-color: white;
    margin-bottom: 15px;
    position: relative;

}

.picture{
    width: 180px;
    height: 180px;
    background-color: #0b72b8;
    margin-left: 5%;
    margin-top: 25px;
    position: absolute;
}

.cars_content{
    width: 65%;
    height: 180px;
    margin-left: 30%;
    margin-top: 25px;
    position: absolute;
}

.row{
    margin:5px 0 0 0;
}

h2{
    margin-top: 0;
    margin-block-start: 0!important;
}

.col-sm-4{
    width: 32%;
    padding: 0;

}


