body{
    margin: 0;
    background-color: #E0E0E0;
}

.site-log{
    background-color: #ffffff;
    height: 50vh;
    border-radius: 10px;
    position: relative;
    margin: 15vh auto 0 auto;
    margin-top: 15vh;
    width: 75%;
}

img{
    width: 100%;
    height: 100%;
}

.photo{
    position: absolute;
    width: 250px;
    height: 250px;
    top: 50%;
    margin: -125px 0 0 17%;
}

.name{
    padding-top: 70px;
    padding-bottom: 35px;
    width: 30%;
    margin-left: 60%;
    text-align: center;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.lines{
    width: 25%;
    margin: 0 auto 0 62.5%;
}
/*styling the input*/
.form-control{
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0)!important;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.5);
}
.has-error {
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0) !important;
}

.link_forgot{
    color: grey;
}

.btn{
    width: 65%;
    height: 45px;
    border-radius: 40px;
    margin-bottom: 13px;
    background-color: #84bcef;
    border: 0;
}