body{
    background-color: #E0E0E0;
}

.site-signup{
    width: 40%;
    margin: 0 auto 0 auto;
    /*padding-left: 50px;*/
    padding: 0 50px 0 50px;
    background-color: white;
}

h1{
    padding-top: 45px;
    margin-bottom: 30px;
    margin-top: 0;
}

p{
    margin: 5px auto 5px auto;
    text-align: center;
}

.second_el{
    cursor: pointer;
}

/*styling the input*/
.form-control{
    margin-top: 20px;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0)!important;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.5);
}
.has-error{
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0)!important;
}

