h4{
    color: #636564;
}

p{
    color: #616161;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none!important ;
}

span{
    color: #0C090A;
    font-weight: 1000;
}

h2{
    margin-top: 0;
    margin-block-start: 0!important;
    color: #212121;
    font-family: 'Titillium Web', sans-serif;
}

.path_to_changeinfo{
    background-color: #81523F;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    width: fit-content;
    border-radius: 1.5rem;
}

.path_to_changeinfo:hover{
    transition: 0.3s;
    color:wheat;
    box-shadow: 2px 3px 1px 0px #ccc!important;
}

/*2D2A32